
<div class="container">
  <h1>Stupid Coach</h1>
  <div class="form">
    <form action="answer" data-turbo="false">
    <label for="question" class="form-label">What you want?</label>
    <input type="text" class="form-control" name="question">
    <input type="submit" class="btn btn-primary" value="Ask!">
    </form>
  </div>
</div>

